future
intervaltree
GeCO
pre-commit>=2.12.1
submitit
torch-geometric
torch-scatter==2.0.7 # -f https://pytorch-geometric.com/whl/torch-1.7.0+cu110.html
torch-sparse==0.6.9 # -f https://pytorch-geometric.com/whl/torch-1.7.0+cu110.html
tdqm
xpress
hypothesis
wheel
